


{% extends 'base_BACK.html.twig' %}
{# {% block title %}{{ commande.produit.nom }}{% endblock %} #}
{% block body %}
<h1>{{commande.produit.nom}}</h1>
<p>{{commandes.Quantite}}</p>
<p>{{commandes.Price}}</p> 
<hr>
<a href="/">Retour</a>
{% endblock %}

