{% extends 'base_BACK.html.twig' %}

    {% block content %}
    {% block body %} 
        {% block stylesheets %}
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css" integrity="sha512-/zs32ZEJh+/EO2N1b0PEdoA10JkdC3zJ8L5FTiQu82LR9S/rOQNfQN7U59U9BC12swNeRAz3HSzIL2vpp4fv3w==" crossorigin="anonymous">
        {% endblock %}


            <div class="container">
                <center><h1>Statistiques</h1></center>

                <canvas id="produits" width="400" height="100"></canvas>
            </div>


        {% block ts%}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" integrity="sha512-s+xg36jbIujB2S2VKfpGmlC3T5V2TF3lY48DX7u2r9XzGzgPsa6wTpOQA7J9iffvdeBN0q9tKzRxVxw1JviZPg==" crossorigin="anonymous"></script>
            <script>
                let commandes = document.querySelector("#produits")
                let commandeGraph = new Chart(produits, {
                    type: "line",
                    data: {
                        labels: {{ prix|raw }},
                        datasets: [{
                            label: "Nombre des produits",
                            data: {{ produitCount|raw }}
                        }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                })
            </script>
        {% endblock %}
{% endblock %}

{% endblock %}