{% for game in games %}
	<div class="col-lg-4">
		<div class="nk-product-cat" style="padding: 10px;margin:bottom 30px;margin: left 50px;">
			<a class="nk-product-image" href="store-product.html">
				<img src="{{ asset(game.image, 'game_images_directory') }}" alt="My Image" style="width: 120px; height: 160px;">
			</a>
			<div class="nk-product-cont">
				<h3 class="nk-product-title h5">
					<a>{{ game.name}}</a>
				</h3>
				<div class="nk-gap-1"></div>
				<div class="nk-product-rating" data-rating="3">
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="far fa-star"></i>
					<i class="far fa-star"></i>
				</div>
				<div class="nk-gap-1"></div>
				<div class="nk-gap-2"></div>
				<h6>
					{{ game.description }}</h6>


				<div class="nk-gap-2"></div>
				<a href="{{ path('play_game',{id:game.id}) }}" class="nk-btn nk-btn-rounded nk-btn-color-dark-3 nk-btn-hover-color-main-1">Jouer</a>
			</div>
		</div>
	</div>
	<br>
{% endfor %}
