{# templates/game/result.html.twig #}

{% extends 'base_BACK.html.twig' %}

{% block body %}
    <h1>Résultat du jeu </h1>

    <p>Votre score est : {{ score }}</p>
   

    {# Ajoutez ici d'autres éléments d'affichage des scores ou de liens pour jouer à nouveau #}
{% endblock %}
