{% extends 'base.html.twig' %}

{% block title %}New Scores{% endblock %}

{% block body %}
    <h1>Create new Scores</h1>

    {{ include('scores/_form.html.twig') }}

    <a href="{{ path('app_scores_index') }}">back to list</a>
{% endblock %}
